{
  "extends": [
    "plugin:node/recommended",
    "standard"
  ],
  "plugins": ["jest"],
  "env": {
    "jest/globals": true
  },
  "rules": {
    // Not supported in node 4
    "prefer-destructuring": "off"
  }
}
